In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# read csv data
df = pd.read_csv("lotto_19041986-23072022_hovedtall.csv", sep=";")
df.head()

         Dato  Hovedtall
0  19.04.1986          3
1  19.04.1986         15
2  19.04.1986         16
3  19.04.1986         17
4  19.04.1986         23

In [5]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13241 entries, 0 to 13240
Data columns (total 2 columns):
Dato         13241 non-null object
Hovedtall    13241 non-null int64
dtypes: int64(1), object(1)
memory usage: 207.0+ KB

          Hovedtall
count  13241.000000
mean      17.521562
std        9.749080
min        1.000000
25%        9.000000
50%       18.000000
75%       26.000000
max       34.000000

In [12]:
print("Highest total frequency:")
print(df["Hovedtall"].value_counts().sort_values(ascending=False)[:7])
print("Least total frequency:")
print(df["Hovedtall"].value_counts().sort_values(ascending=True)[:7])

Highest total frequency:
6     420
12    418
18    416
24    413
29    411
22    408
16    403
Name: Hovedtall, dtype: int64
Least total frequency:
3     353
4     355
34    356
11    361
27    367
20    374
9     374
Name: Hovedtall, dtype: int64